.form-control-otp {
    border: none;
    width: 8.5ch;
    background: 
      repeating-linear-gradient(90deg, 
          dimgrey 0, 
          dimgrey 1ch, 
          transparent 0, 
          transparent 1.5ch) 
        0 100%/100% 2px no-repeat;
    color: dimgrey;
    font: 5ch consolas, monospace;
    letter-spacing: .5ch;
  }
  .form-control-otp:focus {
    outline: none;
    
  }